html,
body {
  scroll-behavior: smooth;
  text-align: center;
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.intro{
  background: linear-gradient(-45deg, #3f51b1 0%, #5a55ae 13%, #7b5fac 25%, #8f6aae 38%, #a86aa4 50%, #cc6b8e 62%, #f18271 75%, #f3a469 87%, #f7c978 100%);
  background-size:  400% 400%;
  animation: gradient 10s ease infinite alternate;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@keyframes gradient {
  0% {
    background-position: 0%;
  }
  50% {
    background-position: 100%;
  }
  100% {
    background-position: 0%;
  }
}

h1 {
  color: white;
  font-family: Open Sans, sans-serif;
  font-weight: 300;
  font-size: 5rem;
  letter-spacing:  3rem;
}

h3{
  margin-top: 2%;
  color: white;
  border-top: white solid 1px;
  border-bottom: white solid 1px;
}

h4 {
  color: black;
  padding-top: 10px;
  margin-top: 20px;
  max-width: 150px;
  margin: auto;
}

.lildesc {
  padding: 0px 0px 10px 0px;
  margin: 10px 0px 15px 0px;
}

img {
  margin: 10px 25px 10px 25px;
  height: 65px;
  width: 70px;
}

#bigimages{
  filter: drop-shadow(0px 1px 2px black);
}
#bigimages:hover{
  filter: drop-shadow(0px 0px 1px black);
}

.contactImages{
  padding: 3% 5% 1% 5%;
  margin-bottom: 5%;
  display: flex;
  justify-content: space-around;
}

.aboutsec{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 3% auto 0% auto;
  max-width: 1000px;
}

.about{
  float: left;
}

#los{
  float: right;
  width: 200px;
  height: auto;
  filter: drop-shadow(0px 1px 2px black);
}

.about, .skills{
  max-width: 550px;
}

.skillssec{
  padding: 5% 5% 6% 5%;
}

.subtitle{
  padding: 1%;
}

.skills{
  margin: auto;
  padding: 20px;
  background-color:  white;
  border: 2px solid  #e6e6e4;
  box-shadow: inset 0px 0px 7px 1px #a5a49c;
}

p {
  font-size: 1.2em;
}

#navbar {
  background-color: white;
  position: fixed;
  top: -100%;
  width: 100%;
  display: block;
  transition: top 0.4s;
  margin: auto;
  box-shadow: 0px 1px 5px black;
  z-index: 4;
}

#littleimages {
  float: right;
  display: block;
  text-align: center;
  padding: 0px 5px 0px;
  filter: drop-shadow(0px 1px 1px #222);
}
#littleimages:hover{
  filter: drop-shadow(0px 0px 0px #222);
}

#littlecarlo {
  float: left;
  display: block;
  padding-left: 20px;
  padding-top: 10px;
  background: linear-gradient(-45deg, #3f51b1 0%, #5a55ae 13%, #7b5fac 25%, #8f6aae 38%, #a86aa4 50%, #cc6b8e 62%, #f18271 75%, #f3a469 87%, #f7c978 100%);
  -webkit-background-clip: text;
  color: transparent;
  background-size: 400%;
  animation: gradient 10s linear infinite alternate;
  font-family: Open Sans, sans-serif;
  font-weight: 500;
}

@keyframes gradient {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}

#navbar img{
  width: 30px;
  height: 30px;
}

ul {
  list-style-type: none;
}

.smalls {
  color: rgb(169, 169, 169);
  font-size: 12px;
  display: inline-block;
  margin: 20px;
  padding: 20px;
  border-top: 1px solid rgb(169, 169, 169);
}

a {
  text-decoration: none;
}

.portlink{
  margin-top: 20px;
  margin-bottom: 10px;
}

.checkit {
  background: linear-gradient(-45deg, #3f51b1 0%, #5a55ae 13%, #7b5fac 25%, #8f6aae 38%, #a86aa4 50%, #cc6b8e 62%, #f18271 75%, #f3a469 87%, #f7c978 100%);
  background-size:  400% 400%;
  animation: gradient 10s ease infinite alternate;
  color: white;
  font-family: Open Sans, sans-serif;
  border-radius: 10px;
  padding: 2%;
  text-decoration: none;
  margin: 5%;
  box-shadow: 0px 1px 2px black;
  transition: all .5s; 
}
.checkit:hover{
  background: linear-gradient(-45deg, #3f51b1 0%, #5a55ae 13%, #7b5fac 25%, #8f6aae 38%, #a86aa4 50%, #cc6b8e 62%, #f18271 75%, #f3a469 87%, #f7c978 100%);
  -webkit-background-clip: text;
  color: transparent;
  background-size: 400%;
  box-shadow: 0px 1px 1px;
}

.mdbod{
  margin: 25px auto;
  max-width: 550px;
}

li{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0% auto 7% auto;
  max-width: 1000px;
}

.thegoods{
  margin: auto;
  float: right;
}

.screenie{
  float: left;
  width: 50%;
  height: auto;
  filter: drop-shadow(0px 1px 2px black);
}

* {
  box-sizing: border-box;
}

@media all and (max-width: 430px) {

  .contactImages{
    display: contents;
    margin: auto;
  }
  
  #bigimages{
    width: 15%;
    height: 15%;
  }

  .thegoods, .screenie{
    float: none;
  }
  .thegoods{
    border-bottom: black solid 1px;
    padding: 0% 5% 5% 5%;

  }
  .screenie{
    padding-top: 5%;
    width: 75%;
    height: auto;
  }

  li{
    display: inline; 
  }
  
  h1{
    letter-spacing: 1rem;
    font-size: 285%;
  }

  #los{
    display: none;
  }

  .about{
    padding: 0% 5% 0% 5%;
  }

  #littleimages{
    width: 20%
  }
}